<div class="about-section">
  <h1>صفحه درباره من</h1>
  <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
</div>
<div class="row">
  <div class="column">
    <div class="card">
      <div class="container">
        <h2>هادی</h2>
        <p class="title">برنامه نویس</p>
        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
        <p>example.com</p>
        <p>
          <button class="button">ارتباط</button>
        </p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>امیر</h2>
        <p class="title">تکنسین</p>
        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
        <p>example.com</p>
        <p>
          <button class="button">ارتباط</button>
        </p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>محمد</h2>
        <p class="title">طراح</p>
        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
        <p>example.com</p>
        <p>
          <button class="button">ارتباط</button>
        </p>
      </div>
    </div>
  </div>
</div>
