<main>
  <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-12 mx-auto">
          <h1 class="text-white text-center">صفحه اصلی</h1>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">جستجو</span>
            </div>
            <input type="text" class="form-control" placeholder="برای جستجو تایپ کنید ..." aria-label="search"
                   aria-describedby="basic-addon1">
          </div>
        </div>

      </div>
    </div>
  </section>
  <section class="featured-section">
    <div class="container">
      <div class="row justify-content-center">

        <div class="col-lg-4 col-12 mb-4 mb-lg-0">
          <div class="custom-block bg-white shadow-lg">
            <a href="#">
              <div class="d-flex">
                <div>
                  <h5 class="mb-2">طراحی وبسایت</h5>
                  <p class="mb-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان
                    ان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان
                    مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد
                    استفاده قرار گیرد.</p>
                </div>
              </div>
              <img src="../../assets/images/remote.png"
                   class="custom-block-image img-fluid"
                   alt="" height="586" width="861">
            </a>
          </div>
        </div>
        <div class="col-lg-6 col-12">
          <div class="custom-block custom-block-overlay">
            <div class="d-flex flex-column h-100">
              <img src="../../assets/images/businesswoman.jpg" class="custom-block-image img-fluid"
                   alt="" height="927" width="1500">
              <div class="custom-block-overlay-text d-flex">
                <div>
                  <h5 class="text-black mb-4">آمار</h5>
                  <p class="text-white">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از
                    طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط
                    دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و
                    زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا
                    مورد استفاده قرار گیرد.</p>

                  <a href="#" class="btn custom-btn mt-2 mt-lg-3">بیشتر</a>
                </div>
              </div>
              <div class="section-overlay"></div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <section class="explore-section section-padding" id="section_2">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="mb-5">دسته بندی</h2>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="design-tab" data-bs-toggle="tab" data-bs-target="#design-tab-pane"
                    type="button" role="tab" aria-controls="design-tab-pane" aria-selected="true">طراحی
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="design-tab-pane" role="tabpanel" aria-labelledby="design-tab"
                 tabindex="0">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                  <div class="custom-block bg-white shadow-lg">
                    <a>
                      <div class="d-flex">
                        <div>
                          <h5 class="mb-2">کد نویس</h5>
                          <p class="mb-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                        </div>
                      </div>
                      <img src="../../assets/images/remote.png"
                           class="custom-block-image img-fluid" alt="" height="586" width="861">
                    </a>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                  <div class="custom-block bg-white shadow-lg">
                    <a>
                      <div class="d-flex">
                        <div>
                          <h5 class="mb-2">برنامه نویسی</h5>
                          <p class="mb-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                        </div>
                        <span class="badge bg-design rounded-pill ms-auto">75</span>
                      </div>
                      <img src="../../assets/images/Redesign.png"
                           class="custom-block-image img-fluid"
                           alt="" height="764" width="1176">
                    </a>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                  <div class="custom-block bg-white shadow-lg">
                    <a>
                      <div class="d-flex">
                        <div>
                          <h5 class="mb-2">طراحی لوگو</h5>

                          <p class="mb-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                        </div>
                        <span class="badge bg-design rounded-pill ms-auto">100</span>
                      </div>
                      <img src="../../assets/images/colleagues.png"
                           class="custom-block-image img-fluid" alt="" height="742" width="685">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
